$height: 18rem;
$width: 20rem;
$meta-height: 6rem;

.featured-box-size {
  width: $width;
  height: $height;
}

.featured-box {
  @apply box-border;
  @apply bg-accent overflow-hidden;
  @apply featured-box-size;

  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0);

  &:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
  }
}

.featured-meta {
  @apply absolute bottom-0 w-full bg-transp-white;
  @apply text-primary text-center;

  .meta-head {
    @apply flex justify-center items-center;
    height: $meta-height;
  }

  .meta-description {
    @apply p-4;
    height: $height - $meta-height;
    overflow-y: auto;
  }
}

.slick-slide {
  @apply p-8;
}
