/* SEARCH & FILTER styles */

$img_h: 8rem;

.searchandfilter {
  @apply w-full;
  @apply p-6;
  @apply bg-white;

  ul {
    @apply w-full;
    padding: 0;

    li {
      @apply w-full;

      label {
        @apply w-full;
      }
    }
  }

  .sf-input-text {
    width: 100% !important;
    @apply p-1 pl-2 pr-2;
    @apply rounded-md;
    @apply border-solid border;
    border-color: #AAA;
  }

  [data-sf-field-input-type="radio"] {
    /* Styles */
    .sf-label-radio {
      @apply w-auto;
    }
  }

  [data-sf-field-input-type="checkbox"] {
    /* Styles */
    .sf-label-checkbox {
      @apply w-auto;
    }
  }

  .chosen-container {
    width: 100% !important;
  }

  @screen md {
    width: 35rem !important;
    max-width: 25%;
  }
}

.search-filter-results {
  @apply flex-grow;

  .search-filter-results-list {
    @apply flex flex-row flex-wrap w-full;

    .search-filter-result-item {
      @apply w-64 m-4;
      @apply bg-white;

      height: 21rem;

      .filter {
        @apply inline-block;
        height: $img_h;

        img {
          padding-top: 1.5rem;
        }
      }

      a {
        opacity: 0.0;

        &:hover {
          opacity: 0.9;
        }
      }

      .result-header {
        height: 12rem;

        .result-image {
          height: $img_h;
        }

        .result-meta {
          @apply overflow-hidden;
          @apply text-center;
          height: 4rem;
        }
      }

      .result-excerpt {
        @apply overflow-y-auto overflow-x-hidden;
        @apply p-2;
        height: 9rem;
        p {
          text-align: left;
        }
      }
    }
  }
}