.portrait {
  @apply  w-84;
}

.landscape {
  @apply w-96;
}

.sat-hover {
  filter: saturate(0.5);
  transition: filter 0.15s ease;
}
.post-box:hover {
  .sat-hover {
    filter: saturate(1);
  }
}

.copyright::before {
  content: "©";
  position: relative;
  top: 1px;
  margin: 0.5rem;
}

.with-dotted-links a {
  text-decoration: underline dotted !important;
}
