.bg-dotted {
  background: radial-gradient(black 5%, transparent 8%) 0 0;
  background-size: 16px 16px;
}

.bg-topo {
  background: url('../images/temp_topo.svg') white top right;
  background-size: 50%;
}

.bg-tr {
  background: #ffffff73;
}