.bg-dotted {
  background: radial-gradient(black 5%, transparent 8%) 0 0;
  background-size: 16px 16px;
}

.bg-topo {
  background: url('../images/topo_inv_grey.svg') top right;
  //background-size: 16px 16px;
}

.bg-tr {
  background: #ffffffc4;
}